<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized. This notebook is a part of peer review peoject.

Objectives :    
1. List popular data science languages.
2. List popular data science libraries.
3. List popular data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. SciPy

Data Science Tools :
1. Jupyter notebooks
2. RStudio
3. Apache Spark

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print(hours)

3.3333333333333335

<h2>Author</h2>
Siddhi Gawner